@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-gray-900;
  }
}
